.contenedor
{
    font-family: Arial, sans-serif;
    padding: 5px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-areas:  "header         header"
                            "nav          nav"
                            "contenido    ads"
                            "footer       footer";
}
.contenedor .header
{
    background-color: rgb(0, 204, 255);
    grid-area: header;
}
.contenedor .nav
{
    background-color: rgb(0, 238, 255);
    grid-area: nav;
}
.contenedor .contenido
{
    background-color: blue;
    grid-area: contenido;
}
.contenedor .ads
{
    background-color: blue;
    grid-area: ads;
}
.contenedor .footer
{
    background-color: blue;
    grid-area: footer;
}
.card-body
{
    background-color: rgb(42, 165, 159);
    font-family: Arial, sans-serif;
}
.navbar-brand
{
    background-color: rgb(118, 165, 42);

}